<!-- <div class="container">
    <div class="row">
        <h1>Welcome to my blog!</h1>
    </div>
    <div class="row">
        <div class="col-auto">
            <app-navigation></app-navigation>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com">Twitter</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron">
    <h1 class="display-4">Welcome to my blog!</h1>
    <p class="lead">This is a place where I write about things.</p>
  </div>

  <router-outlet></router-outlet>