.navbar {
    padding: 1rem 2rem;
    background-color: #80ced7;
}

.jumbotron {
    max-width: 50%;
    margin: 2rem auto;
    text-align: center;
    background-color: #ccdbdc;
    padding: 2rem 1rem;
    border-radius: 5px;
}